/*!Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/*!------------Конец обнуления-------------*/

[class*="__container"] {
   max-width: 1200px;
   margin: 0 auto;
}

.wrapper {
   /*font-family: Inter Tight, sans-serif;*/
   font-family: Nunito, sans-serif;
}

body {
   font-size: 16px;
}

button {
   font-family: Roboto, sans-serif;
}

/**header*/

.header__container {
   height: 56px;
   padding: 1rem;
   justify-content: space-between;
}

.header__container,
.nav__list,
.header__socials {
   display: flex;
   align-items: center;
}

.header__logo {
   pointer-events: none;
}

.header__logo h1 {
   font-size: 1em;
   font-weight: 600;
}

.nav__list {
   gap: 2rem;
}

.header__socials {
   gap: 1rem;
}

.nav__link {
   font-size: 1em;
   font-weight: 500;
   color: #000;
   position: relative;
}

.nav__link::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: -30%;
   width: 0%;
   height: 2px;
   background-color: rgb(0, 0, 0);
   transition: ease-in-out .4s;
}

.nav__link:hover:after {
   width: 100%;
}

.socials__link img {
   width: 2rem;
}

.socials__el {
   padding: 0.2em;
   transition: 0.4s;
}

.socials__el:hover {
   transform: translateY(-0.3rem);
}

/**first-screen__hello*/

.hello__subtitle {
   font-size: 1.1em;
   line-height: 1.5em;
   font-weight: 700;
   color: #FDC435;
   text-transform: uppercase;
}

.hello__greetings {
   font-family: 'Playfair Display', serif;
   font-weight: 700;
   font-size: 3.5em;
   line-height: 120%;
}

.hello__info {
   color: #828282;
   font-size: 1.3em;
   line-height: 150%;
}

.hello__buttons {
   display: flex;
   gap: 0.8em;
}

.first-screen__btn {
   width: 125px;
   height: 45px;
   font-weight: 500;
   font-size: 1em;
   line-height: 1.5em;
   color: #000;
   border-radius: 8px;
   background: #FDC435;
}

.first-screen__btn_about {
   background: transparent;
   border: 2px solid #25282B;
}

.main-photo {
   width: 400px;
   margin: 40px;
   clip-path: url("#blob");
}